<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{{ page.title }}{% endblock %}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="//use.typekit.net/auy3ugs.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>
		<link href="{{ site.url }}/design/css/global.css" rel="stylesheet" type="text/css" />
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<meta property="fb:app_id" content="1756215101269474"/>
		<meta property="og:site_name" content="Let's Ride Together"/>
		<meta property="og:locale" content="en_US"/>
		<meta property="og:type" content="website"/>
		<meta property="og:url" content="{{ site.url }}"/>
		<meta property="og:image" content="{{ site.url }}/img/social-logo.png"/>
		<meta property="og:title" content="Let's Ride Together"/>
		<meta property="og:description" content="We ask the State Governments of Australia and its Ministers for Transport to pledge their support for a national #illridewithyou campaign and make Friday, January 16 a fare-free day for all."/>
	</head>
	<body>

		<div id="fb-root"></div>

		{% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
		<script>
			window.twttr = (function (d,s,id) {
				var t, js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;
				js.src="https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
				return window.twttr || (t = { e: [], ready: function(f){ t.e.push(f) } });
			}(document, "script", "twitter-wjs"));
		</script>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1756215101269474&version=v2.0";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

		{%- block scripts -%}
		<script src="{{ site.url }}/js/general.js"></script>
		{%- endblock -%}

		{% if site.google_analytics_tracking_id %}
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', '{{ site.google_analytics_tracking_id }}', 'auto');
		  ga('require', 'displayfeatures');
		  ga('send', 'pageview');
		</script>
		{% endif %}
	</body>
</html>
